body {
  background-color: #ffffff;
}


.widget {

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: solid black 2px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;

  text-align: center;
  color: black;

  cursor: pointer;

  font-size: 15px;
  width: 500px;

  display: inline-block;

  margin-top: 15%;


}

.container {

  /* margin-left: 500px; 
  margin-left: 50px; */


  text-align: center;

}

.widget:hover {
  background-color: #F6F8FA;
}

.icon {
  display: inline-block;
  margin: 5px;

  vertical-align: middle;


}

.username {
  display: inline-block;
  vertical-align: top;
  margin-top: 23px;
  margin: 0 auto;

  text-align: center;
  vertical-align: middle;

  /*font-size: 20px; */

}

.usernamePart {
  display: inline-block;
  background-color: #F6F8FA;
  border-radius: 10px;
  padding-right: 5px;

  vertical-align: middle;

  text-align: center;
  margin: 0 auto;


}

.usernamePart span {
  text-align: center;
  vertical-align: middle;
  height: 100%;
  margin: 0 auto;

}

.usernamePart:hover {
  background-color: gainsboro;
}

.repname {
  display: inline-block;
  font-size: 25px;
  vertical-align: middle;
  margin-top: 18px;
  margin-left: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0 auto;


}

.repname span {
  margin: 0 auto;
  vertical-align: middle;

}

.repnameTwo {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  vertical-align: middle;
  /* width: 100%; */

  padding-left: 10px;
  font-weight: 600;



}

.topic {
  display: inline-block;
  background-color: #DDF4FF;
  margin: 2px;
  vertical-align: middle;
  padding: 3px;
  border-radius: 7px;
  border: solid 2px;
}

.header {
  vertical-align: middle;
  margin: 0 auto;



}


body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inline {
  display: inline-block;
  margin: 0 auto;

}

.description {}

/*
.additional {
  display: block;
}

.additional div {
  display: inline-block;
}
*/

.additional {
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  margin-top: 5px;
  color: gray;
}




#form {
  margin-top: 40%;
  margin-left: 0%;
}

.form {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;

  text-align: center;


  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30%;
  display: inline-block;
  height: 100%;
  background-color: darkmagenta;
  color: white;
}

.cardsection {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  display: inline-block;
  height: 100%;
  background-color: skyblue;

  text-align: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
  height: 100%;
}

.additional a:hover {
  text-decoration: underline;
}

.htmlContainer, .cssContainer {
  width: 48%;
  display: inline-block;
  height: fit-content;

  vertical-align: top;
}

.codeBlock {
  /*
  position: absolute;
  top: 40%;
  left: 5%;
  width: 90%;
  */

  text-align: left;
  padding: 10px;
}

.submitBtn {
  border: black solid 2px;
  border-radius: 5px;
  padding: 10px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;

  text-align: center;


  margin: 20px;

}

.textInput {
  border: black solid 2px;

  border-radius: 5px;
  padding: 10px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;

  background-color: white;

  width: 30%;
}

.blue {

  background-color: skyblue;
  color: black;

}

.pink {
  background-color: darkmagenta;
  color: white;

}


.copy {

  float: right;



  border: black solid 2px;
  border-radius: 5px;
  padding: 6px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;

  text-align: center;

}


.codeHeader {

  float: right;

  align-items: center;
  height: 30px;

  
}

.codeHeader span {
  display: inline-block;
  vertical-align: middle;
  padding: 6px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  font-weight: 500;

}