body {
  background-color: #ffffff;
}



.cardsection {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  display: inline-block;
  height: 100%;
  background-color: skyblue;

  text-align: center;
  align-items: center;

}


.container {
  height: 40vh;
}



#card-container {

  margin-top: 8vh;
  margin-bottom: 0;
  display: inline-block;
}




body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inline {
  display: inline-block;

}


html,
body {
  max-height: 100%;
  overflow: hidden;
}

#form {
  margin-top: 15vh;
  margin-left: 0%;
}

.form {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;

  text-align: center;


  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30%;
  display: inline-block;
  height: 100%;
  background-color: darkmagenta;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
  height: 100%;
}



.htmlContainer,
.cssContainer {
  width: 48%;
  display: inline-block;

  vertical-align: top;


}


.codeBlock {

  display: block;
  text-align: left;
  padding: 10px;
  height: 100%;

}

code {
  height: 45vh;

  overflow: auto;
  overflow-y: scroll;
  overflow-x: auto;

}


.submitBtn {
  border: black solid 2px;
  border-radius: 5px;
  padding: 10px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;

  text-align: center;


  margin: 20px;

  cursor: pointer;

}

.textInput {
  border: black solid 2px;

  border-radius: 5px;
  padding: 10px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;

  background-color: white;

  width: 30%;
}

.blue {

  background-color: skyblue;
  color: black;

}

.pink {
  background-color: darkmagenta;
  color: white;

}


.copy {

  float: right;



  border: black solid 2px;
  border-radius: 5px;
  padding: 6px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;

  text-align: center;
  cursor: pointer;


}


.codeHeader {

  display: block;
  float: right;

  align-items: center;
  height: 30px;


}

.codeHeader span {
  display: inline-block;
  vertical-align: middle;
  padding: 6px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  font-weight: 500;

}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: skyblue;
}

::-webkit-scrollbar-thumb {
  background: darkmagenta;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkmagenta;
}

::-webkit-scrollbar-corner {
  background-color: skyblue;
}



#error-msg {

  font-weight: 500;

  font-size: 18px;
  padding: 10px;
  padding-top: 0;
  margin: 15px;
  margin-top: 0;

}


#title {

  margin-top: 20vh;
  font-size: 40px;
  font-weight: 1000;

  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}