body {
  background-color: #ffffff;
}


.widget {


  /* margin-left: 500px; */
  margin-left: 50px;
  position: absolute;

  top: 30%;
  width: 500px;


  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: solid black 2px;
  border-radius: 10px;
  /* display: inline-block; */
  padding: 10px;
  background-color: white;

  text-align: center;
  color: black;

  cursor: pointer;

  font-size: 15px;

}

.widget:hover {
  background-color: #F6F8FA;
}

.icon {
  display: inline-block;
  margin: 5px;

  vertical-align: middle;


}

.username {
  display: inline-block;
  vertical-align: top;
  margin-top: 23px;
  margin: 0 auto;

  text-align: center;
  vertical-align: middle;

  /*font-size: 20px; */

}

.usernamePart {
  display: inline-block;
  background-color: #F6F8FA;
  border-radius: 10px;
  padding-right: 5px;

  vertical-align: middle;

  text-align: center;
  margin: 0 auto;


}

.usernamePart span {
  text-align: center;
  vertical-align: middle;
  height: 100%;
  margin: 0 auto;

}

.usernamePart:hover {
  background-color: gainsboro;
}

.repname {
  display: inline-block;
  font-size: 25px;
  vertical-align: middle;
  margin-top: 18px;
  margin-left: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0 auto;


}

.repname span {
  margin: 0 auto;
  vertical-align: middle;

}

.repnameTwo {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  vertical-align: middle;
  /* width: 100%; */

  padding-left: 10px;
  font-weight: 600;


  
}

.topic {
  display: inline-block;
  background-color: #DDF4FF;
  margin: 2px;
  vertical-align: middle;
  padding: 3px;
  border-radius: 7px;
  border: solid 2px;
}

.header {
  vertical-align: middle;
  margin: 0 auto;


  
}


body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inline {
  display: inline-block;
  margin: 0 auto;

}

.description {
}

/*
.additional {
  display: block;
}

.additional div {
  display: inline-block;
}
*/

.additional {
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  margin-top: 5px;
  color: gray;
}




#form {
  margin-top: 50%;
  margin-left: 20%;
}

.form {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;


  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  display: inline-block;
  height: 100%;
  background-color: darkmagenta;
  color: white;
}

.cardsection {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  display: inline-block;
  height: 100%;
  background-color: skyblue;
}

a {
  color: inherit;
  text-decoration: none;
  height: 100%;
}

.additional a:hover {
  text-decoration: underline;
}

pre {
  background-color: white;
}